%gothampro-900{
  font-family: 'GothamPro-Black', sans-serif;
  font-weight: 900;
}

%gothampro-700{
  font-family: 'GothamPro-Bold', sans-serif;
  font-weight: 700;
}

%gothamproitalic-400{
  font-family: 'GothamPro-Italic', sans-serif;
  font-weight: 400;
}

%gothampro-400{
  font-family: 'GothamPro', sans-serif;
  font-weight: 400;
}

%gothampro-300{
  font-family: 'GothamPro-Light', sans-serif;
  font-weight: 300;
}